.header {
  box-sizing: border-box;
  background: url('./assets/nc-winery-1500x609.jpg');
  background-size: cover;
  height: 700px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  box-shadow: inset 0px -40px 40px 10px rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  button { @include btn; }

  h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3.7rem;
    margin: -30px auto 15px
  }
}